---
version: "3.8"

services:

  docs:
    build:
      context: .
      dockerfile: Dockerfile-ci
      args:
        USER_ID: 1000
        GROUP_ID: 1000
    volumes:
      - "${PWD}:/kb/"
      - home:/home/kb
    cap_drop:
      - ALL

volumes:
  home:
