cryptography ~= 43.0.1
cyclonedx-bom == 4.6.1
Jinja2 ~= 3.1.4
Markdown ~= 3.7
mkdocs == 1.6.1
mkdocs-git-revision-date-localized-plugin ~= 1.2.9
mkdocs-macros-plugin ~= 1.2.0
mkdocs-material == 9.5.36
mkdocs-minify-plugin ~= 0.8.0
mkdocs-video ~= 1.5.0
pip-audit == 2.7.3
Pygments ~= 2.18.0
pymdown-extensions ~= 10.10
PyOpenSSL ~= 24.2.1
wheel ~= 0.44.0
yamllint == 1.35.1
