cryptography ~= 42.0.5
cyclonedx-bom == 4.1.5
Jinja2 ~= 3.1.3
Markdown ~= 3.6
mkdocs == 1.6.0
mkdocs-git-revision-date-localized-plugin ~= 1.2.4
mkdocs-macros-plugin ~= 1.0.5
mkdocs-material == 9.5.22
mkdocs-minify-plugin ~= 0.8.0
mkdocs-video ~= 1.5.0
pip-audit == 2.7.2
Pygments ~= 2.17.2
pymdown-extensions ~= 10.8
PyOpenSSL ~= 24.1.0
wheel ~= 0.43.0
yamllint == 1.35.1
